<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recover Password</title>
    <style>
      a {
        cursor: pointer;
        display: inline-block;
        padding: 10px 20px;
        background: #4caf50;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
      }
    </style>
  </head>
  <body>
    <h2>Recuperação de senha</h2>
    <p>
      Você solicitou a redefinição de senha. Clique no botão abaixo para
      continuar:
    </p>
    <p>
      <a href="{{.ResetLink}}">Redefinir Senha</a>
    </p>
    <p>Se não foi você que solicitou, apenas ignore este email.</p>
  </body>
</html>
