<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Recuperar senha</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/index.css" />
  </head>
  <body>
    <div class="card">
      <h2>Recuperar senha</h2>
      <p>
        Informe seu e-mail. Se encontrarmos uma conta, enviaremos instruções.
      </p>
      {{if .Error}}
      <div class="msg err">{{.Error}}</div>
      {{end}} {{if .Success}}
      <div class="msg ok">Em caso de sucesso, o email será notificado.</div>
      {{end}}
      <form method="POST" action="/auth/forgot-password">
        <label for="email">Email</label>
        <input id="email" type="email" name="email" required />
        <button type="submit">Enviar instruções</button>
      </form>
    </div>
  </body>
</html>
