<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Recover Password</title>
    <link rel="stylesheet" type="text/css" href="/static/css/index.css" />
  </head>
  <body>
    <div class="card">
      <h2>Recover Password</h2>
      <p>
        Enter your email. If we find an account, we will send you instructions.
      </p>
      <div class="hidden msg error"></div>
      <div class="hidden msg success">
        In case of success, the email will be notified.
      </div>
      <form method="POST" action="/auth/forgot-password">
        <label for="email">Email</label>
        <input id="email" type="email" name="email" required />
        <button type="submit">Send instructions</button>
      </form>
    </div>
  </body>
</html>
